# Виртуальное окружение
venv/

# Переменные среды
.env

# Кеш Python
__pycache__/
*.pyc

# Файлы конфигурации
*.config

# Файлы логирования
*.log

# Тестирование отдельных компонентов
*test.py

# Временные элементы MCP-серверов
.playwright-mcp
playwright_docs.md